{# ######################################## #}
{# ##### MACROS ########################### #}
{# ######################################## #}
{% macro display_keylist(pkey, list) -%}
{% for value in list|sort -%}
{{ pkey }} {{ value }}
{% endfor %}
{%- endmacro %}
{# ######################################## #}
{% macro display_keydict(pkey, dict) -%}
{% for (key, value) in dict|dictsort -%}
{{ pkey }} {{ key }}
{{ display_dict(value, 4) }}
{%- endfor %}
{%- endmacro %}
{# ######################################## #}
{% macro display_match(pkey, list) -%}
{% for value in list -%}
{{ pkey }} {% for (mkey, mvalue) in value['Conditions']|dictsort %}{{ mkey }} {{ mvalue }} {% endfor %}

{{ display_dict(value['Parameters'], 4) }}
{%- endfor %}
{%- endmacro %}
{# ######################################## #}
{% macro do_cond(key, value, offset=0) -%}
{% if value is string %}
{{ ' ' * offset }}{{ key }} {{ value }}
{% elif value is mapping %}
{{ display_keydict(key, value) }}
{% elif value is iterable %}
{{ display_keylist(key, value) }}{% else %}
{{ key }} {{ value }}
{% endif %}
{%- endmacro %}
{# ######################################## #}
{% macro display_dict(dict, offset=0) -%}
{% for (key, value) in dict|dictsort -%}
{%      if key != 'Match' -%}
{{ do_cond(key, value, offset) }}
{%-     endif %}
{%- endfor %}
{% for (key, value) in dict|dictsort -%}
{%      if key == 'Match' -%}
{{ display_match(key, value) }}
{%-     endif %}
{%- endfor %}
{%- endmacro %}
{# ######################################## #}
{# ##### MAIN ############################# #}
{# ######################################## #}
{{ display_dict(_sshd_default_config | combine(_sshd_default_config_by_os_family[ ansible_facts['os_family'] ], recursive=True) | combine(sshd_config, recursive=True)) }}
